# GENERAL PARAMETERS
NB_THREADS=16
# Add names of other assembly pipelines you would like to run between the brackets
# Use parantheses, name must equal the name of the file in assembler_commands minus the .txt
# extension, e.g. for canu_with_awesome_params.txt, modify line below to
# ADDITIONAL_ASSEMBLERS=( "canu_with_awesome_params" )
ADDITIONAL_ASSEMBLERS=()


#------TOOL SPECIFIC PARAMETERS -----------
# Note: parameters in this section are required to run specific tools. These were set to work during the
#       initial set-up process. Feel free to alter them, e.g. if you want to use binaries stored at a 
#       different location. You can also add your own parameters for other tools you may use in your 
#       benchmark, but take care to avoid giving them the same name as other parameters! (e.g. by adding
#       the name of the tool to the name).


#QUAST PARAMETERS
QUAST_MIN_IDENTITY=90.0

# NANOPOLISH PARAMETERS
# Note: used if Nanoplish is run using scripts/nanopolish_std.sh
NP_PARALLEL_JOBS=8
NP_MIN_CANDIDATE_FREQ=0.1

# Add/modify extra parameters for Nanopolish below here. Mind the space at the end!
NP_OPTIONAL_PARAMETERS+="--faster " 
#NP_OPTIONAL_PARAMETERS+="--methylation-aware=dcm,dam "


READS_DIR=/mnt/nexenta/lanno001/nobackup/readFiles/ecoliLoman/ecoliLoman_mapped_fq_subset2
REF_FILE=/home/lanno001/refgenomes/ecoli_k12_mg1655.fasta
REFGENOME_SIZE=4641652
INT=/mnt/nexenta/lanno001/nobackup/ab_github_example 
COVERAGE=0
TOOL_DIR=/home/lanno001/poreTally
FAST5_BOOL=true
ASSEMBLERS=( minimap2_miniasm minimap2_miniasm_nanopolish smartdenovo flye canu )
FAST5_DIR=/mnt/nexenta/lanno001/nobackup/readFiles/ecoliLoman/ecoliLoman_mapped_subset2
BASECALLER_TYPES='ONT_Albacore_Sequencing_Software_v0.8.4'
